conky.config = {
	out_to_console = true,
	extra_newline = false,
	update_interval = 5.0,
	pad_percents = 2,
	top_cpu_separate = true,
	top_name_width = 8,
	short_units = true,
}
conky.text = [[${if_existing /proc/net/dev tun0:}[VPN] ${endif}($cpu%-$mem-${battery_percent}) FiletLignux ${time %H:%M}]]
